




.login{

}
.site-footer .site-footer-inner {
        text-align: center;
        padding: 92px 0 28px;
        position: relative;
        background-color: #10283d;
    }
}
.site-footer-content a {
    color: #1eb4d2;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.2s ease;
}

.site-footer-content {
    font-size: 14px;
    line-height: 22px;
    color: #bbb;
    margin-bottom: 5px;
}